# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

#serviceData Files for sms
/restful/data/

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

/ui
/.vagrant/
/access.log
/error.log
TestController.php
node_modules
.metadata
*.swp
/test/
*.*~
/install.lock
/envvars-local.php
# /env.php
/ext/Encrypt.php
sonar-project.properties
/.sonar
/data
/backend/web/assets/
!/backend/web/assets/apps
!/backend/web/assets/global
!/backend/web/assets/layouts
!/backend/web/assets/mobile
!/backend/web/assets/pages

